*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
/* body {
  font-family: "Rowdies", cursive;
} */

/* START JACQUES SECTION */

/*  First navigation*/
#navbar {
height: 2rem;
min-height: 2rem;
transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/*  Second navigation*/
#secondNav {
min-height: 4.5rem;
transition: 0.4s; /* Adds a transition effect when the padding is decreased */
}
/* add space between links in navbar  */
.nav-item {
margin-right: 1.5rem;
font-size: 1.2rem;
}

/* change new selector */
#crat .card {
border-radius: 10px;
background: #fafafa;
box-shadow: 5px 5px 28px #b2b2b2, -5px -5px 28px #ffffff;
}
/* change new selector */
#cct .card {
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 5px 5px 28px #b2b2b2, -5px -5px 28px #ffffff;
    }

.card-text {
font-size: 1.1rem;
}

/*  Contact section  */
#contact {
background-color: floralwhite;
}

.bg-dark {
background-color: rgb(90, 90, 221);
}

#crat .card:hover {
background-color: rgb(90, 90, 221);
color: whitesmoke;
transition: 0.6s;
animation: shake 0.5s;
animation-iteration-count: finite;
}

#cct .card:hover {
    background-color: rgb(90, 90, 221);
    color: whitesmoke;
    transition: 0.6s;
    animation: shake 0.5s;
    animation-iteration-count: finite;
}

.addBorder {
  margin-top: 4rem;
  max-width: 90%;
}


/* shake the cards when  hover*/
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* END JACQUES SECTION */


/* DENIS SECTION */

  /* Heading 2 font-size*/
.h2-font-size{
    font-size: 2rem; /*new*/
  }
 .denis-text {
    font-size: 1.1rem; /*new*/
 } 
  /* for Pricing Card on Enrollment section */
  .card-blur-effect{
    background: rgba(255, 255, 255, 0.452);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
  }
  
  /* for heading on Pricing Card */
  .heading-card-custom{
    background-color: rgba(95, 94, 94, 0.5);
    font-size: 1.5rem; /*new*/
  }
  
  /* text on Pricing Card */
  .form-check-label{
    font-size: 1.250rem; /*new*/
  }
  
  /* checkboxes on Pricing Card*/
  input[type=checkbox] {
    transform: scale(1.2);
    margin-top: 0;
  }
  
  /* button on Pricing Card*/
  .btn-custom-font{
    font-size: 1.25rem;
  }


/* END DENIS SECTION */



/* START HADIYAH PARTNERS SECTION */


.partners {
  /* background-color: #c1e7e3; */
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3.215em 0;
}
.students_info {
  text-align: justify;
  /* width: 60%; */
  /* color: rgb(2, 9, 71); */
}
.section-title {
  margin-bottom: 1em;
  font-size: 2.5rem; /*new*/
  text-align: center;
}
.text {
  font-size: 1.5rem;/*new*/
  line-height: 1.4em;
}
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-style: italic;
}
.link:hover {
  background-color: black;
  color: skyblue;
}
.partners_logo {
}
.logos {
  width: 8.125rem; /*new*/
  height: auto;
  margin: 2em 3em 2em 0;
  background-color: white;
}

/* REVIEWS SECTION */
.reviews {
    width: 90%;
    margin: 0 auto;
  }
  .section_title1 {
    margin: 1.5em;
    font-size: 2rem; /*new*/
    text-align: center;
  }
  .container1 {
    margin: 3em 0;
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper {
    margin: 0 3em 3em;
    width: 18%;
    font-size: 1.1rem; /*new*/
    text-align: left;
  }
  .student_review {
    background-color: #e2f1f0;
    padding: 1.5em;
  }
  .student_say {
  }
  .student_image {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .student_pic {
    width: 3.125rem; /*new*/
    margin: 1em;
    border-radius: 50%;
  }


/*FOOTER*/

footer {
    background: #EC7F97;
    background: -webkit-linear-gradient(59deg, #EC7F97, #E699BD);
    background: linear-gradient(59deg, #99c3d8, #16222A);
    color: black;
    margin-top:100px;
  }
  
  footer a {
    color:black;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #004D55;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #E699BD;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: #000000	;
  }
  
  
  /*SOCIAL ICONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoTwitter:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoInstagram:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

 /* NEW COMBINED MEDIA QUERIES */
  @media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    #crat .cards {
          max-width: 80% ;
      }
    #cct .cards {
        max-width: 80% ;
    }
  }

  @media screen and (max-width: 1000px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .nav-item {
      margin-right: 1rem;
      font-size: 1rem;
    }
  }

    @media screen and (max-width: 576px) {
      .column {
          flex: 100%;
          max-width: 50%;
      }
    }


 /* OLD LOLA MEDIA QUERIES
  @media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
  }
    @media screen and (max-width: 1000px) {
      .column {
          flex: 100%;
          max-width: 100%;
      }
      .nav-item {
      margin-right: 1rem;
      font-size: 1rem;
  }
    }
  
      @media screen and (max-width: 576px) {
        .column {
            flex: 100%;
            max-width: 50%;
        }
      }

/* JACQUES MEDIA QUERY  
@media screen and (max-width: 998px) {
  .nav-item {
      margin-right: 1rem;
      font-size: 1rem;
  }
  }
  @media screen and (max-width: 780px) {
  .cards{
      max-width: 80% ;
  }
  } */
  