:root {
  /* Colours */
  --color-primary-lighter: #3AAF92;
  --color-primary:#188469; /* use var(--color-primary); */
  --color-primary-darker: #144136;
  --color-bg: #ECF7F5;
  --color-bg-darker: #dbf0ec;
  --color-grey: #4D4D4D;
    /* old colour grey didn't pass contrast checker --color-grey: #787878; */
    /* https://webaim.org/resources/contrastchecker/ */

  

  

  /* Fonts */
  --default-font-size: 1.6rem;  /* use var(--default-font-size); */
  --h1-font-size: 4rem;
  --h2-font-size: 3.8rem;  /* "our courses" */
  --h3-font-size: 2.8rem;  /* "arrhythmia interpretation" */
  --h4-font-size: 1.85rem; /* "It can be taken by" */
}
