:root {
  --main-bg-color: #3AAF92;
}
/* color: #3AAF92;
color: #188469;
color: #144136;
color: #ECF7F5; */

/* #div1 {
  background-color: var(--main-bg-color);
}
#div2 {
  background-color: var(--main-bg-color);
} */
