@import "assets.css";

/* Use e.g. background-color: var(--main-bg-color); */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px; /* base font size for REM */
 
}

body {
    font-family: 'Montserrat', sans-serif;
    /* vary the weight when calling it */
    /* font-weight: 200; options available 200;300;400;500;600;700 */
    font-size: 1.6rem;
}

/*  ----------------------------------------  */
/*  GENERIC STYLE  */
/*  ----------------------------------------  */
.heading-section {
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  font-weight: 400;
  color: var(--color-grey);
  letter-spacing: 1px;
}
.heading-subsection {
  color: var(--color-primary-darker);
  font-size: var(--h3-font-size);
}
.heading-subsection::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-primary);
}
/*  ----------------------------------------  */
/*  NAVIGATION BAR  */
/*  ----------------------------------------  */


.collapse ul .nav-item .nav-link,
.collapse ul .nav-item .nav-link:visited,
.collapse ul .nav-item .nav-link:active{
  color: #787878;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 2rem;
}


.collapse ul .nav-item .nav-link:hover{
  color: var(--color-primary-lighter);
}

.btn-login{
  background-color: var(--color-primary-lighter);
  color: white !important;
  font-size: 1.6rem;
  padding: .5rem 2rem !important;
  border-radius: 0;
}

.btn-login:hover{
  background-color: var(--color-primary);
}


/*  ----------------------------------------  */
/*  CAROUSEL */
/*  -----------------------------------------  */

.image-carousel{
  height: 520px;
  object-fit: cover;
  filter: brightness(40%);
}
.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
}

.heading-carousel{
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

.subheading{
  color: #37F9C9;
  font-weight: 500;
  font-size: 2rem;
}

/*  ----------------------------------------  */
/*  Features */
/*  -----------------------------------------  */
#features {
  background-color: var(--color-bg);
}
.feature-container {
  margin-bottom: 5.5rem;
}
.feature-text {
  background-color: var(--color-bg-darker);
}
.feature-text-paragraph {
  color: var(--color-grey);
  font-weight: 500;
}
